@font-face {
	font-family: name;
	src: url(assets/fonts/Mario-Kart-DS.ttf);
}
@font-face {
	font-family: message;
	src: url(assets/fonts/000webfont.ttf);
}

html, body {
	font-family: 'Roboto', sans-serif;
	background-color: transparent;
	/* background-color: hsl(248, 12%, 13%); */
	color: rgb(236, 236, 236);
	font-size: 24px;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

h1, h2, h3 {
	text-align: left;
	margin-top: 4px;
	margin-bottom: 4px;
}
h4 {
	text-align: left;
	margin-top: 2px;
	margin-bottom: 2px;
}

p {
	font-size: 16pt;
	text-align: center;
}

#logo {
	display: block;
	width: 100%;
	height: auto;
	padding: 32px;
	margin: auto;
	margin-top: 14px;
	background-image: url('twitchlogo.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: calc(50% - 32px), 50%;
	border-radius: 0.35em;
}

#login-container {
	display: block;
	width: 100%;
	height: 100%;
	overflow: auto;
	overflow-x: hidden;
	background-color: hsl(248, 12%, 13%);
}
#login {
	display: block;
	position: relative;
	height: auto;
	width: 75%;
	max-width: 650px;
	margin: auto;
	margin-top: 18px;
	margin-bottom: 18px;
	padding: 4px;
}
input[type=text], select {
	display: block;
	width: 100%;
    padding: 12px;
	margin: 18px;
	margin-left: auto;
	margin-right: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.join-menu-container {
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	padding: 12px;
	background-color: hsl(248, 12%, 9%);
	border-radius: 4px;
}

#button-container {
	display: none;
	opacity: 0;
	position: absolute;
	right: 1em;
	top: 1em;
	padding: 10px;
	height: auto;
	width: auto;
	z-index: 100;
	background-color: hsl(248, 12%, 9%);
	transition: opacity 0.5s ease-in-out;
	/* border-style: solid;
	border-width: 4px;
	border-color: white; */
}
#button-container:hover {
	transition: opacity 0.5s ease-in-out;
	opacity: 1;
}

.hideBtn {
	display: inline-block;
	position: relative;
	width: 140px;
	max-height: 45px;
	padding: 0.25em;
	font-weight: bold;
	margin: 10px;
	color: rgba(255, 255, 255, 0.486);
	background-color: hsla(250, 80%, 65%, 0.85);
	border: 0;
	border-radius: 0.7em;
	z-index: 10;
	outline: none;
}
.hideBtn:hover {
	color: rgba(255, 255, 255, 0.85);
	background-color: hsla(250, 80%, 65%, 1);
	cursor: pointer;
}

.hideBtn.login {
	width: 100%;
	font-size: 14pt;
	margin: auto;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	border-radius: 0.3em;
}

/* Checkbox icon/text in options menu */
.optionsContent {
	display: inline;
	position: relative;
	margin: 2px;
	padding: 2px;
}

a {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
	color: initial;

	font-size: 11pt;
	text-align: center;
}

.disable-css-transitions {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-track {
	background: hsla(250, 80%, 65%, 0.5);
}
::-webkit-scrollbar-thumb {
	background: rgb(105, 86, 199);
}
::-webkit-scrollbar-thumb:hover {
	background: rgb(133, 109, 255);
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
::-webkit-scrollbar-corner {
    background-color: hsla(250, 80%, 65%, 0.5);
}
/* For Firefox */
.scroller {
	scrollbar-color: rgb(105, 86, 199) hsla(250, 80%, 65%, 0.5);
	scrollbar-width: thin;
}

/* Chat Avatars */
#chat-avatar-container {
	position: absolute;
	display: none;
	background-color: transparent;
	/* background-color: #00ff00; */
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 10;
	-webkit-transition: left 1s ease-in-out;
	-moz-transition: left 1s ease-in-out;
	-ms-transition: left 1s ease-in-out;
	-o-transition: left 1s ease-in-out;
	transition: left 1s ease-in-out;
}

/* Container for avatar character */
.chat-avatar {
	position: absolute;
	top: 0;
	left: 0;
	width: auto;
	height: auto;
	transition: inherit;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	-ms-transition: inherit;
	-o-transition: inherit;
	z-index: 1; /* Draw above all avatar images */
}
.chat-avatar-image {
	text-align: center;
	width: 64px;
	height: 64px;
	transform: scale(2, 2);
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; 				/* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
	background-repeat: no-repeat;
	background-size: 100%;
	transition: inherit;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	-ms-transition: inherit;
	-o-transition: inherit;
}
.chat-avatar-name {
	position: absolute;
	/* left: -83px; */
	/* top: -154px; */
	max-width: 250px;
	width: auto; /* set in js */
	font-family: name;
	font-size: 16pt;
	color: white;
	background-color: rgba(85, 85, 85, 1);
	border-radius: 4px;
	padding: 4px;
	margin: auto;
	text-align: center;
	overflow: hidden;
	transition: inherit;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	-ms-transition: inherit;
	-o-transition: inherit;
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; 				/* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}
.chat-avatar-message {
	display: block;
	position: relative;
	opacity: 0;
	/* top: -120px;
	left: -83px; */
	width: auto;
	max-width: 250px;
	max-height: 75px;
	padding: 8px;
	text-align: center;
	font-family: message;
	font-size: 18pt;
	line-height: 12pt;
	color: black;
	background-color: white;
	border-radius: 4px;
	transition: opacity 0.6s linear;
	-webkit-transition: opacity 0.6s linear;
	-moz-transition: opacity 0.6s linear;
	-ms-transition: opacity 0.6s linear;
	-o-transition: opacity 0.6s linear;
	overflow: hidden;
	z-index: 1000;
}

/* Chat GUI */
#container {
	position: relative;
	display: none;
	flex-direction: row;
	width: 100%;
	height: 100%;
	white-space: nowrap;
}
#sidebar {
	/* box-sizing: border-box; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* width: calc(100% - 180px); */
	/* max-width: 750px; */
	width: 100%;
	height: 100%;
	margin: auto;
	margin-left: 0;
	padding: 0;
	padding-left: 10px;
	padding-right: 10px;
	z-index: 1;
	background-color: hsl(248, 12%, 13%);
}
#uber-chat {
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	height: 100vh;
	width: 400%;
	margin: auto;
	padding: 1em;
	overflow: hidden;
	word-wrap: wrap;
	overflow-y: auto;
	flex-grow: 1;
	background-color: hsl(248, 12%, 13%);
}

/* Viewer List */
#viewers, .title {
	display: block;
	color: white;
	width: 100%;
	background-color: hsla(250, 80%, 65%, 1);
	font-weight: bold;
	padding: 4px;
	margin: auto;
	overflow: hidden;
	text-align: center;
}
#viewers:before {
	content: 'Viewers: ';
}
/* Viewers */
#chatters {
	box-sizing: border-box;
	position: relative;
	display: block;
	height: 100%;
	min-width: 270px;
	width: auto;
	padding: 0;
	margin: auto;
	margin-right: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: hidden;
	word-wrap: wrap;
	white-space: wrap;
	border-width: 8px;
	border-right-width: 0;
	border-color: hsla(250, 80%, 65%, 1);;
	border-style: solid;
	background-color: hsl(248, 12%, 13%);
}
/* Debug Messages */
#chat {
	box-sizing: border-box;
	position: relative;
	display: block;
	min-width: 270px;
	/* max-width: 500px; */
	width: auto;
	height: 100%;
	padding: 0;
	margin: auto;
	margin-right: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: hidden;
	word-wrap: wrap;
	white-space: wrap;
	border-width: 8px;
	border-right-width: 0;
	border-color: hsla(250, 80%, 65%, 1);
	border-style: solid;
	background-color: hsl(248, 12%, 13%);
}
/* List Windows */
#chatters-list, #debug-list {
	display: block;
	position: relative;
	width: auto;
	margin: auto;
	padding: 10px;
	padding-bottom: 0;
	overflow: auto;
	overflow-y: scroll;
}
#debug-list {
	height: calc(100% - 47px);
}
#chatters-list {
	height: calc(100% - 47px);
}
/* Chat Messages */

.chat-line {
	-webkit-transition: all 0.25s ease-in;
	-moz-transition: all 0.25s ease-in;
	-ms-transition: all 0.25s ease-in;
	-o-transition: all 0.25s ease-in;
	transition: all 0.25s ease-in;

	width: 100%;
	height: auto;
	word-wrap: wrap;
	white-space: normal;
}
.chat-line[data-faded] {
	opacity: .7;
}
.chat-line.chat-action {
	color: rgb(237, 235, 94);
}
.chat-line.chat-notice {
	opacity: .9;
	font-weight: 400;
}
/* Chat Msg */
.chat-line:not(.chat-name) {
	display: inline-block;
	width: auto;
	height: auto;
	padding: 6px;
	margin: auto;
	border-radius: 0.25em;
	background-color: rgba(184, 184, 184, 0.25);
	overflow-x: hidden;
	word-wrap: wrap;
	white-space: wrap;
}
.chat-line.chat-notice[data-level] {
}
.chat-line.chat-notice[data-level="-4"] {
	color: hsla(250, 80%, 65%, 1);
	font-style: italic;
}
.chat-line.chat-notice[data-level="-3"] {
	color: hsla(200, 80%, 50%, 1);
	font-style: italic;
}
.chat-line.chat-notice[data-level="-2"] {
	color: hsl(160, 80%, 50%);
	font-style: italic;
}
.chat-line.chat-notice[data-level="0"] {
	color: rgb(255, 255, 255);
}
.chat-line.chat-notice[data-level="-1"] {
	color: hsla(100, 80%, 50%, 1);
}
.chat-line.chat-notice[data-level="1"] {
	color: hsla(55, 100%, 50%, 1);
}
.chat-line.chat-notice[data-level="2"] {
	color: hsla(30, 100%, 50%, 1);
	font-weight: 400;
}
.chat-line.chat-notice[data-level="3"] {
	color: hsla(0, 100%, 50%, 1);
	font-weight: 400;
	font-style: italic;
}
.chat-line.chat-notice[data-level="4"] {
	color: hsla(0, 100%, 50%, 1);
	font-weight: 700;
}
.chat-line.chat-notice[data-faded] {
	opacity: .3;
}
.chat-line.chat-notice[data-faded]:hover {
	opacity: 1;
}
.chat-line.chat-name {
	text-decoration: underline;
}

.chat-line.chat-timedout {
	opacity: .2;
	font-size: .75em;
	-webkit-transition: all 100ms ease-in;
	-moz-transition: all 100ms ease-in;
	-ms-transition: all 100ms ease-in;
	-o-transition: all 100ms ease-in;
	transition: all 100ms ease-in;
}
.chat-line.chat-cleared {
	opacity: .2;
	font-size: .33em;
	-webkit-transition: all 100ms ease-in;
	-moz-transition: all 100ms ease-in;
	-ms-transition: all 100ms ease-in;
	-o-transition: all 100ms ease-in;
	transition: all 100ms ease-in;
}
.chat-channel {
	margin-right: .375em;
	opacity: .6;
	font-weight: 300;
}
.chat-name {
	margin-right: 4px;
	font-weight: 700;
	font-size: 12pt;
}
.chat-colon {
	margin-right: .375em;
	opacity: .85;
}
.chat-line:not(.chat-action) .chat-colon:after {
	content: ':';
}
.chat-message {
	font-weight: 400;
}
.chat-line:not(.chat-action) .chat-message {
	color: inherit !important;
}

.emoticon {
	background-position: center center;
	background-repeat: no-repeat;
	margin: -5px 0;
	display: inline-block;
	vertical-align: middle !important;
	height: 1.5em;
}

.chat-badges {
	margin-right: .125em;
}
.chat-badges > div {
	margin-bottom: 1px;
	border-radius: 2px;
	min-height: 1.35em;
	min-width: 1.35em;
	display: inline-block;
	vertical-align: middle;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: .3em;
	text-align: center;
	cursor: default;
	font-size: 12pt;
}

.chat-badge-mod {
	background-color: hsl(56, 79%, 54%);
	background-image: url(https://www.twitch.tv/images/xarth/badge_mod.svg);
}
.chat-badge-mod:before {
	content: '👑';
}

.chat-badge-turbo {
	background-color: hsl(340, 51%, 50%);
	background-image: url(https://www.twitch.tv/images/xarth/badge_turbo.svg);
}
.chat-badge-turbo:before {
	content: '🔥';
}

.chat-badge-broadcaster {
	background-color: hsl(0, 0%, 58%);
	background-image: url(https://www.twitch.tv/images/xarth/badge_broadcaster.svg);
}
.chat-badge-broadcaster:before {
	content: '🎙️';
}

.chat-badge-admin {
	background-color: hsl(40, 96%, 54%);
	background-image: url(https://www.twitch.tv/images/xarth/badge_admin.svg);
}
.chat-badge-admin:before {
	content: '🎩';
}

.chat-badge-staff {
	background-color: hsl(250, 39%, 38%);
	background-image: url(https://www.twitch.tv/images/xarth/badge_staff.svg);
}
.chat-badge-staff:before {
	content: '🆔';
}

.chat-badge-subscriber {
	background-color: hsl(250, 58%, 57%);
	padding-right: 8px;
}
.chat-badge-subscriber:before {
	content: '💜';
}

.chat-badge-bot {
	/*background-image: url(https://cdn.betterttv.net/tags/bot.png);*/
	background-color: hsl(0, 0%, 87%);
}
.chat-badge-bot:before {
	content: '🤖';
}

.chat-badge-bits {
	background-color: hsl(204, 84%, 36%);
	padding-right: 8px;
}
.chat-badge-bits:before {
	content: '💎';
}

.chat-badge-bits-leader {
	background-color: hsl(184, 86%, 36%);
	padding-right: 8px;
}
.chat-badge-bits-leader:before {
	content: '🏅';
}

.chat-badge-premium {
	background-color: hsl(120, 79%, 54%);
}
.chat-badge-premium:before {
	content: '💍';
}

[class*="chat-delete"] {
}
.chat-delete-timeout {
}
.chat-delete-clear {
}

[class*="chat-hosting"] {
}
.chat-hosting-yes {
}
.chat-hosting-no {
}

[class*="chat-connection"] {
}
[class*="chat-connection-good"] {
}
[class*="chat-connection-bad"] {
}
.chat-connection-good-connecting {
}
.chat-connection-good-logon {
}
.chat-connection-good-connected {
}
.chat-connection-good-reconnect {
}
.chat-connection-bad-fail {
}
.chat-connection-bad-disconnected {
}

[class*="chat-room"] {
	font-size: .5em;
}
.chat-room-join {
}
.chat-room-part {
}

.chat-crash {
}